# Title: Magic commands - 1
### url: commands-1
### tags: Tag-1, Tag-10
### description: Test post description 1.

# This is a test notebook

- title should populate as `Magic commands - 1`
- url should populate as `commands-1`
- tags should populate as `Tag-1, Tag-10`
- description should populate as `Test post description 1.`

![Lake with ducks](https://images.unsplash.com/photo-1592418987247-67d59105794a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80)

# Tests for magic methods

## No input should be visible for the output below

In [3]:
#hide-input
from bokeh.sampledata.iris import flowers
flowers.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## No output should be visible for the input below

In [2]:
#hide-output
from bokeh.sampledata.iris import flowers
flowers.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## No input or output should appear below

In [1]:
#hide-cell
from bokeh.sampledata.iris import flowers
flowers.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa